mat-card {
  margin: 2em auto;
  max-width: 80%;
  text-align: center;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
}
